<div>
    <h1>@ViewBag.OneProduct.Name</h1>
    @* Categories this Product has *@
    <div>
        <h3>Categories</h3>
    </div>
    @* add a Category to this Product *@
    <h3>Add Category</h3>
    
</div>